.button{
    background-color: #1F2471; 
    border-radius: 29px; 

    color: white; 
    font-size: 18px; 
    padding: 10px 35px; 
    cursor: pointer; 
    transition: .5s; 
    }
    
    .button:hover{ 
    background-color: white; 
    color: #081F2D; 
   
    transition: 0.3s; 
   }

.nav{
    transition: .5s ease-in-out;
    z-index:100;

}
                