.footerBg{
    background-image: url(https://i.ibb.co/DL3KFcW/newsbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #896EFF;
}

