
.page_404{ 
    padding:40px 0;
}

.page_404  img{ 
    width:100%;
}
.bgStyle{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 		
